/* Common */
html {
  font-size: 16px;
}

body {
  font-family: var(--font-family-base);
}

p {
  color: var(--color-text);
}

p, a {
  font-family: var(--font-family-base);
}

a {
  cursor: pointer;
  transition: color var(--transition);
}

a:link, a:visited {
  text-decoration: none;
  color: var(--color-secondary);
}

a:hover, a:active {
  color: var(--color-primary);
}

.container {
  background-color: var(--color-surface);
  backdrop-filter: var(--backdrop-blur-container);
  border: var(--border-container);
  border-radius: var(--border-radius-container);

  transition: background-color var(--transition),
              backdrop-filter var(--transition)
              border var(--transition)
              border-radius var(--transition);
}

/* Page */
.page-wrapper {
  position: absolute;
  inset: 0;
  z-index: var(--z-page-wrapper);
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
  max-width: var(--page-max-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 var(--space-xl);
  gap: var(--space-xl);
}

.page__section { }

/* page section top */
.page__section--top { }

/* page section center */
.page__section--center { }

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  gap: var(--space-lg);
}


.links__item {
  position: relative;
  padding: var(--space-md);
  cursor: pointer;
  transition: border var(--transition), transform var(--transition);
}

.links__item:hover,
.links__item:focus {
  outline: none;
  border-color: var(--color-primary);
  transform: scale(1.05);
}

.links__item:focus-visible {
  outline: none;
  border-color: var(--color-primary);
}

.links__item-icon {
  position: absolute;
  left: var(--space-md);
  top: 50%;
  transform: translateY(-50%);
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  fill: var(--color-text);
  transition: fill var(--transition);
}

.links__item:hover .links__item-icon,
.links__item:focus .links__item-icon {
  fill: var(--color-primary);
}

.links__item-label {
  text-align: center;
  font-family: var(--font-family-links);
  font-size: var(--font-size-2xl);
  text-decoration: none;
}

.links__item:link .links__item-label, .links__item:visited .links__item-label {
  color: var(--color-text);
}

.links__item:hover .links__item-label,
.links__item:focus .links__item-label {
  text-decoration: none;
  color: var(--color-primary);
}

.links__item:focus-visible .links__item-label {
  color: var(--color-primary);
}

/* page section bottom */
.page__section--bottom { 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} 

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-xl);
  padding: var(--space-md) 0;
}

.copy, .theme-selector, .theme-selector__options-list {
  padding: var(--space-sm);
  font-size: var(--font-size-sm);
}

/* Media */
/* mobile */
@media (max-width: 480px) {
  :root {
    --font-size-base: 12px;
  }
}

/* tablet */
@media (min-width: 481px) and (max-width: 768px) {
  :root {
    --font-size-base: 14px;
  }
}

/* laptop */
@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --font-size-base: 16px;
  }
}

/* large screens */
@media (min-width: 1025px) {
  :root {
    --font-size-base: 18px;
  }
}

/* prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}


