:root {
  --color-text: #000000;
  --color-surface: transparent;
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-background: transparent;
  --color-border: #000000;

  --space-xs: 0.25rem; /* 4px  */
  --space-sm: 0.5rem;  /* 8px  */
  --space-md: 1rem;    /* 16px */
  --space-lg: 1.5rem;  /* 24px */
  --space-xl: 2rem;    /* 32px */

  --page-max-width: 1200px;

  --border-width: 2px;
  --border-style: solid;
  --border: 2px solid var(--color-border);
  --border-radius: 8px;
  --blur: blur(8px);

  --transition: 0.2s ease;

  --font-size-base: 16px;
  --font-scale-ratio: 1.25;
  --font-size-sm: calc(var(--font-size-base) / var(--font-scale-ratio));
  --font-size-lg: calc(var(--font-size-base) * var(--font-scale-ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale-ratio));
  --font-size-2xl: calc(var(--font-size-xl) * var(--font-scale-ratio));
  
  --font-family-base: "Lato", system-ui, sans-serif;
  --font-family-mono: "VT323", monospace;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --z-background-wrapper: -1;
  --z-page-wrapper: 1;
  --z-overlay-wrapper: 100;
}