.theme-selector__current-option-icon, .theme-selector__option-icon {
  width: var(--font-size-sm);
  height: var(--font-size-sm);
  margin-left: var(--space-xs);
  transform: translateY(10%);
  transition: fill var(--transition);
}

/*  */
.theme-selector-wrapper {
  position: relative;
}

.theme-selector {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
}

.theme-selector__label {
  display: inline;
}

.theme-selector__current-option {
  cursor: pointer;
}

.theme-selector__current-option-label {
  display: inline-block;
  min-width: 50px;
  text-align: center;
  color: var(--color-secondary);
  transition: color var(--transition), opacity var(--transition);
}

.theme-selector__current-option:hover .theme-selector__current-option-label {
  color: var(--color-primary);
}

.theme-selector__current-option.active .theme-selector__current-option-label {
  color: var(--color-primary);
}

.theme-selector__current-option.hidden .theme-selector__current-option-label {
  opacity: 0;
}

.theme-selector__current-option-icon {
  fill: var(--color-secondary);
  transition: transform var(--transition);
}

.theme-selector__current-option:hover .theme-selector__current-option-icon {
  fill: var(--color-primary);
}

.theme-selector__current-option.active .theme-selector__current-option-icon {
  fill: var(--color-primary);
  transform: translateY(10%) rotateX(0.5turn);
}

/*  */
.theme-selector__options-list {
  position: absolute;
  min-width: 75%;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-sm);
  margin-bottom: var(--space-sm);
  opacity: 0;
  transition: bottom var(--transition), opacity var(--transition);
}

.theme-selector__options-list.active {
  bottom: 100%;
  opacity: 1;
}

.theme-selector__option {
  cursor: pointer;
}

.theme-selector__option.active {
  cursor: default;
}

.theme-selector__option-label {
  display: inline;
  transition: color var(--transition);
}

.theme-selector__option:hover .theme-selector__option-label {
  color: var(--color-primary)
}

.theme-selector__option.active .theme-selector__option-label {
  color: var(--color-secondary)
}

.theme-selector__option-icon {
  opacity: 0;
  transition: opacity var(--transition);
}

.theme-selector__option:hover .theme-selector__option-icon {
  fill: var(--color-primary);
}

.theme-selector__option.active .theme-selector__option-icon {
  fill: var(--color-secondary);
  opacity: 1;
}
